name: ci
run-name: CI for ${{ github.sha }} on ${{ github.ref_name }}

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "release-**"
    tags:
      - "v**"
  pull_request:
    branches:
      - "*"

jobs:
  unit-test:
    uses: ./.github/workflows/unittest.yaml
  e2e-test:
    uses: ./.github/workflows/e2e-test.yaml
  build:
    uses: ./.github/workflows/build-and-test-rock.yaml
  gh-publish:
    if: ${{ (github.ref == 'refs/heads/main') || (github.ref_type == 'tag') }}
    needs: [ build, unit-test ]
    uses: canonical/identity-team/.github/workflows/_rock-gh-publish.yaml@f858d2dce01066546803a4279c3525f053ca7d0f # v1.9.2
    with:
      rock: "hook-service"
  scan:
    if: ${{ (github.ref == 'refs/heads/main') || (github.ref_type == 'tag') }}
    needs: gh-publish
    uses: canonical/identity-team/.github/workflows/_rock-scan.yaml@f858d2dce01066546803a4279c3525f053ca7d0f # v1.9.2
    with:
      image: ${{ needs.gh-publish.outputs.image }}
